ENVIRONMENT=development
TOKEN=12345:REPLACE_WITH_DEVELOPMENT_BOT_TOKEN
MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_DB=sophie_debug
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB_STATES=12
REDIS_DB_FSM=11
REDIS_DB_SCHEDULE=13
RUN_MIGRATIONS_ON_STARTUP=false
WEBHOOKS_ENABLE=false
INSTANCE_NAME=debug
DEBUG_MODE=normal
MEMORY_DEBUG=false
METRICS_ENABLE=false
SENTRY_URL=None
RUNTIME_LOG_FILE=data/debug.runtime.log
